<h1>Protoyping Ember Applications</h1>

<p>
  Ryan Toronto
</p>

<p>
  <a href="mailto:ryanto@gmail.com">ryanto@gmail.com</a>
</p>

<p>
  Slides: <a 
    href="http://slid.es/ryanto/prototyping-ember-applications">http://slid.es/ryanto/prototyping-ember-applications</a>
</p>
